<div id="<%= dom_id post %>" class="mb-4 pb-4 border-b border-gray-200 dark:border-gray-700">
  <h3 class="text-lg font-semibold">
    <%= link_to post.title, post, class: "hover:underline" %>
  </h3>
  <p class="text-sm text-gray-600 dark:text-gray-400">
    By <%= post.user.name %> | <%= time_ago_in_words(post.created_at) %> ago
  </p>
  <p class="mt-2">
    <%= truncate(post.text, length: 150) %>
  </p>
</div>
